body{
    margin: 0;
    padding: 0;
}
.hamb{
    position: relative;
    display: inline-block;
    top: 0;
    right: -80%;
    padding: 15px;
    cursor: pointer;

}
.line1{
    width: 40px;
    background-color: black;
    height: 5px;
    margin: 5px 0;
}
.navbar{

    position: absolute;
    left: 0%;
    padding: 15px;
    display: none;


}
.nav-links{
    text-decoration: none;
    list-style-type: none;
    margin: 0 0;
    padding: 10px 0;

}
.hamb:hover{

}
.nav-links a{
    text-decoration: none;
    color: black;
}
.hamb:hover .navbar{
    display: block;

}
hr{
    display: inline-block;
    display: none;
    box-sizing: border-box;
    width: 7px;
    height: 40px;
    background-color: green;
    padding-top: 0px;
    margin-top: -10px;
    margin-left: -20px;
    position: absolute;
}
.nav-links:hover hr{
    display: inline-block;
}






